<%= render 'layouts/navbar' %>
<p class="notice-message"><%= notice %></p>

<div class="show-product-container">
  <%= render @sail %>

  <div class="back-links">
    <%= link_to "Volver al listado", admin_sails_path, class: "btn back-btn" %>
  </div>