<%= render 'layouts/navbar' %>
<% content_for :title, "Editing product" %>

<div class="edit-product-container">
  <h1 class="edit-product-title">Editar Producto</h1>

  <%= render "form", product: admin_product_path(@product) %>

  <div class="back-links">
    <%= link_to "Detalle del producto", admin_product_path(@product), class: "btn show-btn" %>
    <%= link_to "Volver al listado", admin_products_path, class: "btn back-btn" %>
  </div>
</div>
