<%= render 'layouts/navbar' %>
<% content_for :title, "Editar Usuario" %>

<h1 class="page-title">Editar Usuario</h1>

<%= render "form", user: @user %>

<br>

<div class="action-links">
  <%= link_to "Mostrar usuario", admin_user_path(@user), class: "btn show-btn" %> |
  <%= link_to "Volver al listado", admin_users_path, class: "btn back-btn" %>
</div>
